/* HTML: <div class="loader"></div> */

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loader {
    width: 80px; /* Default size for PC */
    aspect-ratio: .75;
    --c: no-repeat linear-gradient(#000 0 0);
    background: 
      var(--c) 0%   100%,
      var(--c) 50%  100%,
      var(--c) 100% 100%;
    background-size: 20% 65%;
    animation: l5 1s infinite linear;
}

/* Responsive adjustments for phones */
@media (max-width: 768px) {
    .loader {
        width: 45px; /* Smaller size for phones */
    }
}

@keyframes l5 {
    20% {background-position: 0% 50% ,50% 100%,100% 100%}
    40% {background-position: 0% 0%  ,50% 50% ,100% 100%}
    60% {background-position: 0% 100%,50% 0%  ,100% 50% }
    80% {background-position: 0% 100%,50% 100%,100% 0%  }
}
