/* General styles */
.gradient-background {
    background: var(--background-gradient);
    color: var(--text-color);
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

h1, p {
    color: var(--text-color);
}

/* Flex container styling */
.flex {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

/* Media queries for larger tablets and small desktops */
@media (max-width: 900px) {
    .flex {
        flex-direction: column;
        align-items: center;
    }

    .flex > div {
        width: 90%; /* Full width for items in a column layout */
    }
}

/* Media queries for tablets (typically between 600px and 900px) */
@media (max-width: 768px) {
    h1 {
        font-size: 40px;
    }

    p {
        width: 90%;
        margin-left: 0;
        text-align: center;
    }

    .gradient-background {
    }

    .flex {
        width: 100%;
    }

    .flex > div {
        width: 100%;
    }
}

/* Media queries for phones (440px and below) */
@media (max-width: 440px) {
    h1 {
        font-size: 30px;
    }

    p {
        font-size: 14px;
        width: 100%;
        text-align: center;
    }

    .flex {
        width: 100%;
    }

    .flex > div {
        width: 100%;
    }

    .gradient-background {
    }
}
